/* HOMEPAGE STYLES START */

div.signup {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/six.jpg');
    box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 80vh;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.signup .share {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
    font-size: 4rem;
    font-weight: 700;
    color: @blush;
    font-family: 'Playfair Display', sans-serif;
}

@media(max-width: 800px) {
    .signup .share {
        text-align: center;
    }
}

div.signup a {
    display: inline-block;
    margin-bottom: 75px;
    .btn();
}

body section.action {
    // border: 1px solid red;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
    width: 45%;
    margin: 75px auto;
    line-height: 2rem;
    font-family: "Playfair Display", sans-serif;
    color: @twilight;
    text-shadow: 1px 1px 2px @twilight;
}

section.action h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

section.action p {
    font-size: 1.5rem;
}

section.action .image img {
    margin-top: 50px;
    border-radius: 10px;
}

.aside a {
    float: right;
    margin-left: 1rem;
    .btn();
}

@media(max-width: 800px) {
    section.action p {
        display: flex;
        flex-flow: column wrap;
    }

    .aside a {
        display: flex;
        float: left;
        margin-right: 1rem;
    }
}

// PICTURE BOX START

.body-main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    color: @twilight;
    flex-wrap: wrap;

    .ad-copy h1 {
        display: inline-block;
        box-sizing: border-box;
        color: @twilight;
        text-shadow: 2px 2px 4px @twilight;
        width: 40%;
        margin: 50px auto 50px 100px;
        font-size: 2.8rem;
        font-family: "Playfair Display", sans-serif;
        font-weight: 700;
    }

    .wrapper {
        box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.75);
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-flow: row wrap;
    }

    .wrapper .grid-bg {
        width: 100%;
        border-radius: 10px;
    }
}

@media(max-width: 800px) {
    .body-main .ad-copy h1 {
        margin-top: 25px;
        margin-bottom: 25px;
        flex-flow: column wrap;
    }
}

.tagline h1 {
    display: block;
    text-align: center;
    color: @twilight;
    text-shadow: 2px 2px 4px @twilight;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 2.5rem;
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
}

// PICTURE BOX END

/* HOMEPAGE STYLES END */

// FEATURES PAGE STYLES START

body section.features {
    max-width: 1200px;
    width: 100%;
    font-family: "Playfair Display", sans-serif;
    display: block;
    box-sizing: border-box;
    color: @olive;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.features .heads {
    max-width: 1200px;
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.features .heads h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 2;
}

.features .heads h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0 auto;
}

.feature-list {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
}

.feature-list .feat-box1 {
    border: 1px solid red;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.feat-box1 li {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.feat-box1 img {
    width: 500px;
}

// .feat-box1 p {
//     width: 50%;
// }


// .feature-list .feat-box1 img {
//     width: 100%;
// }

.feature-list .feat-box2 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.feature-list .feat-box3 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

// FEATURES STYLE END